<a href="https://colab.research.google.com/github/khushboo28sahu/Data-Mining-Machine-Learning/blob/main/ScoreStatsFrmCommentary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import re

In [ ]:
f = open('BangladeshCommentry.txt', 'r')
fclean = open('CleanCommentray.txt', 'w+')

In [ ]:
f1=f.read().replace('no','0')
f2=f1.replace('FOUR','4')
f3=f2.replace('SIX','6')
f4=f3.replace('OUT', 'W runs')
#f1
f4

'\n19.6\n6\nAl-Amin Hossain to Pandya, 6 runs, short, on the leg stump and Krunal finds the maximum this time, pulls it in the air, giving it his all. Over deep midwicket boundary\n19.5\n1\nAl-Amin Hossain to Washington Sundar, 1 run, length ball at the body, loses his shape on the pull, a single to midwicket\n19.4\n6\nAl-Amin Hossain to Washington Sundar, 6 runs, a touch fuller on the stumps and Washington just chips it over mid-off and it just keeps sailing, hits the boundary hoarding on the full\n19.3\n1\nAl-Amin Hossain to Pandya, 1 run, length ball on the pads, drags the pull down towards fine leg\n19.2\n1lb\nAl-Amin Hossain to Washington Sundar, 1 leg bye, length ball down the leg side, misses the flick, gets hit on the thigh, a0ther leg bye\n19.1\n1lb\nAl-Amin Hossain to Pandya, 1 leg bye, length ball on the stumps, goes for the pull but misses, collects a leg bye\nAl-Amin\n\n\n18.6\n6\nShafiul Islam to Washington Sundar, 6 runs, slower one but Washington is ready for it, transfer the weight back and pulls it over wide long-on. Neat connection, clears the boundary with ease\n18.5\n1\nShafiul Islam to Pandya, 1 run, slower one, fuller on the stumps, pushed towards mid-off\n18.4\n4\nShafiul Islam to Pandya, 4 runs, short and wide outside off, uses the pace of the bowler and cuts it between short third man and point\n18.3\n1\nShafiul Islam to Washington Sundar, 1 run, length ball on the stumps, pulls it towards deep midwicket\nWashington Sundar, a0ther left-hander\n\n18.2\nW\nShafiul Islam to Pant, W runs, length ball on the stumps, Pant looks to loft it over long-on, doesn\'t get the required power behind it and an easy catch for Naim, his second of the day\nRR Pant c Mohammad Naim b Shafiul Islam 27 (26b 3x4 0x6) SR: 103.84\n\n18.1\n2\nShafiul Islam to Pant, 2 runs, length ball outside off, pulled towards deep square leg, Pant wants the second, has to put in the dive. The throw is 0t at the top of the stumps, would have been close had Mushfiqur collected it\nShafiul 0w\n\n17.6\n1lb\nAl-Amin Hossain to Pant, 1 leg bye, length ball on the pads, looks to flick it away but misses, collects a leg bye\n17.5\n1\nAl-Amin Hossain to Pandya, 1 run, a0ther slower one, way down the leg side, Krunal just chips it in the air, was early into the shot but luckily for him it lands well short of deep midwicket\n17.4\n1\nAl-Amin Hossain to Pant, 1 run, length ball, this one is bowled at full pace and Pant is late on the pull, a single to midwicket\n17.3\n0\nAl-Amin Hossain to Pant, 0 run, down the track but gets bamboozled by the legcutter, was too early into the shot, looking to hit it towards midwicket\n17.2\n4\nAl-Amin Hossain to Pant, 4 runs, short one, a slower bouncer on middle and leg, Pant swivels and helps it over the wicketkeeper, just lobbing it over than pulling actually\n17.1\n1\nAl-Amin Hossain to Pandya, 1 run, starts with a slower one on the pads, clipped away behind square leg\nAl-Amin\n16.6\n1\nMustafizur Rahman to Pandya, 1 run, a0ther cutter, length outside off, guides it towards third man to get off the mark\nKrunal Pandya, a0ther left-hander, to face\n16.5\n1\nMustafizur Rahman to Pant, 1 run, length outside off, opens the face of the bat to steer it towards third man\n16.4\n0\nMustafizur Rahman to Pant, 0 run, a slower one outside off, Pant looks to hoick it over midwicket but gets beaten as the ball hardly bounces\nIbnu Akram: "Even 140 seems a hard task 0w, lot relies on Pant."\n\n16.3\n0\nMustafizur Rahman to Pant, 0 run, length ball angling in, looks to flick it on the leg side, misses and gets hit on the thigh\nVarun: "These are clear warning signs for India. Dhawan played more than one third of 20 overs and made just 40 runs. Not only does it put unnecessary pressure on other batsmen, it gives an edge to the other team too. The good part is that India still have a lot of time to correct this. "\n\n16.2\n4\nMustafizur Rahman to Pant, 4 runs, length outside off, Pant stands tall and punches it behind point, opening the face of the bat to find the gap\n16.1\n2\nMustafizur Rahman to Pant, 2 runs, length ball around off, moves towards the bowler and taps it towards midwicket, scampers back for the second\nMustafizur 0w\n15.6\nW\nAfif Hossain to Dube, W runs, Afif has plucked one out here, one-handed over his head. Was a length ball on the stumps, Dube looked to work it on the leg side but the ball stopped at him and popped over the bowler\'s head who timed his jump to take it with his right hand\nS Dube c & b Afif Hossain 1 (4b 0x4 0x6) SR: 25.00\n\n15.5\n1\nAfif Hossain to Pant, 1 run, fuller on the stumps, nudged around midwicket, once again looks for the second but this time makes an early call to send his partner back\n15.4\n4\nAfif Hossain to Pant, 4 runs, short and some room outside off, cuts it hard, the sweeper cover puts in the slide and reaches there but can0t stop the ball\n15.3\n1\nAfif Hossain to Dube, 1 run, fuller on the stumps, looks to drill down the ground but fails to middle, a single towards square leg off the inner half\n15.2\n0\nAfif Hossain to Dube, 0 run,\n15.1\n1\nAfif Hossain to Pant, 1 run, pitched up on the stumps, clears his front leg and drives it towards long-on\n\n14.6\n0\nMahmudullah to Dube, 0 run, fuller around off, comes forward and defends\nDebutant Dube\n\n14.5\nW\nMahmudullah to Pant, 1 run, W runs, length ball on the pads, Pant plays it gently towards midwicket, they complete the first run quickly, Pant calls for the second and Dhawan responds, but then Pant changes his mind realising it\'s impossible for him to make it. Mahmudullah himself chases the ball, puts in the slide and throws it to the keeper. Dhawan tries to get back but is well short as Mushfiqur breaks the stumps\nS Dhawan run out (Mahmudullah/â€ Mushfiqur Rahim) 41 (42b 3x4 1x6) SR: 97.61\n\n14.4\n1\nMahmudullah to Dhawan, 1 run, fuller this time, pushed towards midwicket\n14.4\n1w\nMahmudullah to Dhawan, 1 wide, Mahmudullah fires it wide outside off anticipating Dhawan coming down the track, Dhawan stays in his crease and gets a wide\n14.3\n0\nMahmudullah to Dhawan, 0 run, reverse sweep this time but straight towards short third man, was a full ball around off\n14.2\n6\nMahmudullah to Dhawan, 6 runs, launched over long-on! Down the track, almost to the pitch of the ball and extends his arms, clears the fielder easily\n14.1\n1\nMahmudullah to Pant, 1 run, fuller outside off, the ball rolls towards cover off the outer half, played with softer hands too\nMahmudullah 0w, eighth bowler in the 15th over\n\n13.6\n0\nAfif Hossain to Dhawan, 0 run, length outside off, too close to cut but Dhawan goes for it, can0t beat the man at cover-point though\n13.5\n1\nAfif Hossain to Pant, 1 run, length ball on the stumps, pushed towards midwicket from the back foot\n13.4\n0\nAfif Hossain to Pant, 0 run, fuller outside off, looks to push towards long-off, doesn\'t middle and the ball dribbles towards the bowler\n13.3\n0\nAfif Hossain to Pant, 0 run, fuller around off, stays alongside the line of the ball and blocks\n13.2\n0\nAfif Hossain to Pant, 0 run, a touch fuller outside off, Pant comes forward to block but gets beaten as it spins away\n13.1\n1\nAfif Hossain to Dhawan, 1 run, down the track but Afif saw him coming and shortened his length, Dhawan loses his shape as he looks to force it on the off side, a single in front of square leg off the inner half\n\n12.6\n1\nMosaddek Hossain to Dhawan, 1 run, short and pulled again, this time straight towards deep midwicket\n12.5\n1\nMosaddek Hossain to Pant, 1 run, length ball on the pads, nudges it towards short midwicket, the bowler himself does the fielding. Pant was thinking of a second but there\'s only one there\n12.4\n1\nMosaddek Hossain to Dhawan, 1 run, length outside off, punched towards sweeper cover\n12.3\n4\nMosaddek Hossain to Dhawan, 4 runs, short and Dhawan latches on to it, goes back and pulls it between deep midwicket and deep square leg for a much-needed boundary\n12.2\n1\nMosaddek Hossain to Pant, 1 run, fuller on the stumps, played gently towards midwicket\n12.1\n0\nMosaddek Hossain to Pant, 0 run, length ball, flatter outside off, pushed towards covers\nMosadek\n\n\n11.6\n0\nAfif Hossain to Dhawan, 0 run, a bit of confusion there, Dhawan nudges the length ball towards the right of extra cover and sets off, Pant is unmoved and Dhawan had to retrace his steps. All safe in the end though\n11.5\n0\nAfif Hossain to Dhawan, 0 run, length ball outside off, pushes it on the off side but cover fielder cuts it off\nTamim: "Afif is the next superstar of BD cricket. Very similar to Shakib."\n\n11.4\n1\nAfif Hossain to Pant, 1 run, fuller on the stumps, nudged towards long-on\n11.3\n1\nAfif Hossain to Dhawan, 1 run, fuller outside off, reaches out and drives it towards deep cover\n11.2\n0\nAfif Hossain to Dhawan, 0 run, down the ground but Afif shortens his length, pushed towards short extra cover\n11.1\n0\nAfif Hossain to Dhawan, 0 run, fuller on the off, pushed it towards short midwicket\nAfif, around the wicket. An offspinner with two left-hand batsman in\n\n\n10.6\n0\nAminul Islam to Pant, 0 run, length ball outside off, goes back and punches but can0t beat the man at short cover\n10.5\n1\nAminul Islam to Dhawan, 1 run, fuller outside off, comes forward and drives it wide of long-on\nAbhishek Jain: "It was Dhawan who was responsible for Iyer\'s wicket. 22 off 25 is criminal in t20"\n\n10.4\n1\nAminul Islam to Pant, 1 run, length ball on middle and spinning on to the pads, flicked away behind square leg, off the mark\nPant 0w\n\n10.3\n1\nAminul Islam to Dhawan, 1 run, dropped short, Dhawan goes for the pull but doesn\'t get the timing right, also hits it towards deep midwicket, only a single\n10.2\nW\nAminul Islam to Iyer, W runs, fuller outside off and Iyer goes aerial once again, the ball was spinning away from him and takes the toe end of the bat, Naim at long-off settles under it to take it comfortably. Aminul has his second\nSS Iyer c Mohammad Naim b Aminul Islam 22 (13b 1x4 2x6) SR: 169.23\n\n10.1\n1\nAminul Islam to Dhawan, 1 run, length ball outside off and spinning in, cuts it towards deep point\nThe predicted total is 157\n\n\nTime for a change in commentary. Can India get a further 100 in the final 10? Find out with Hemant Brar\n\n9.6\n2\nSoumya Sarkar to Iyer, 2 runs, length ball, outside off, and cut sharply to deep point. Looked like four, but the fielder does well to intercept\n9.5\n4\nSoumya Sarkar to Iyer, 4 runs, finds the gap! Full toss, seaming into his toes, and he drills a whipped shot between wide long on and deep midwicket\n9.4\n1\nSoumya Sarkar to Dhawan, 1 run, back of a length, on middle, and pulled along the ground to deep midwicket\nDheepan: "Where is Prithvi Shaw ? I don\'t see him in any format 0w a days? " -- Banned due to a doping violation. The ban ends later this month\n\n9.3\n1\nSoumya Sarkar to Iyer, 1 run, length ball, outside off, and nudged past the 0n-striker to long on for a single\n9.2\n0\nSoumya Sarkar to Iyer, 0 run, length ball, outside off, and punched to cover for a quick run\n9.1\n1\nSoumya Sarkar to Dhawan, 1 run, slower ball, full outside leg stump. Worked away to deep backward square\n\n\n8.6\n6\nAminul Islam to Iyer, 6 runs, clobbered! Length on off, and he plants his front leg towards the pitch of the ball before hammering a shot over the bowler\'s head! Take that\nAbheek Dasgupta: "This is a 160 wicket. Get to 100 for the loss of 2 or 3 in 15, and that can help India reach that target. As the momentum\'s towards India, early BD wickets to push the game firmly in India\'s favour."\n\n8.5\n0\nAminul Islam to Iyer, 0 run, full, outside off. Tapped away to cover\n8.4\n1\nAminul Islam to Dhawan, 1 run, full, on leg stump. Flicked to square leg, and stopped by Fizz by diving\n8.3\n0\nAminul Islam to Dhawan, 0 run, good length, outside off, and he mistimes a cut\n8.2\n1\nAminul Islam to Iyer, 1 run, full toss on off, and he slices an attempted slog over the bowler\'s head. Lands well short of long-off. Iyer will consider himself lucky since it wasn\'t called 0-ball for height. Could\'ve been out there\n8.1\n1\nAminul Islam to Dhawan, 1 run, full, on off, and he tries to work it leg-side but a leading edge very nearly carries to cover. Dhawan lucky!\n\nRaunak Kapoor\nâœ”\n@RaunakRK\nStill feel that India are stuck with that outdated approach to start a T20 innings. Itâ€™s what cost them the SF of the last WT20. Considering that, Shreyas Iyerâ€™s approach is refreshing, and highly needed. #INDvBAN\n\n660\n7:37 PM - Nov 3, 2019 Â· Mumbai, India\nTwitter Ads info and privacy\n125 people are talking about this\nEND OF OVER:8 | 7 Runs | INDIA: 51/2 | RR: 6.37\nShreyas Iyer\n8 (5b)\nShikhar Dhawan\n19 (21b)\nSoumya Sarkar\n1-0-7-0\nAminul Islam\n1-0-9-1\nTejas: "Since Iyer is coming with the lot of IPL experience of playing in this ground - I have high expectations on him. Go Iyer show what you are capable of and cement your position in the team."\n\n7.6\n0\nSoumya Sarkar to Iyer, 0 run, length ball, outside off, and he sticks his bat out to guide a shot to point\n7.5\n1\nSoumya Sarkar to Dhawan, 1 run, full on off, and tapped away to the vacant region near deep point\n7.4\n4\nSoumya Sarkar to Dhawan, 4 runs, played fine! Length ball, on his hips, and simply uses his wrists to play a deft shot between keeper and short fine leg\n7.3\n1\nSoumya Sarkar to Iyer, 1 run, length ball, outside off, and tapped to point for a quick single\n7.2\n0\nSoumya Sarkar to Iyer, 0 run, full, outside off, and he\'s through his drive too early. Mistimed to cover\nGaurav: "Can\'t see Rahul on the flight to Australia!"\n\n7.1\n1\nSoumya Sarkar to Dhawan, 1 run, full, outside off and angling further away. Driven to deep extra cover\nSarkar with some medium pace\n\n\nDarpan Tikiya: "@Hari - How naive! Have you checked out Rohit\'s white-ball record in Aus? A clean hitter like him can0t clear the boundaries there? Tell you what, Rohit, Virat, Rahul, Dhawan, Jadeja etc. are also few of the best when it comes to running between wickets, so dont worry."\n\n6.6\n6\nAminul Islam to Iyer, 6 runs, going, going, gone! Full, outside off and turning away. Iyer gets to the pitch of the ball and then beautifully lifts a six over wide long off to end the over on a high\n6.5\n1\nAminul Islam to Dhawan, 1 run, arm ball, angling into his pads. Worked off his legs to deep backward square\n6.4\n1\nAminul Islam to Iyer, 1 run, full outside off, and his attempted drive is sliced over point. Lands short of the fielder in the deep\nSriram: "@hari - i thought India beat Aussies 3-0 down under and even the recent T20 was 1-1 and Odis 2-1? So i guess our IPL heroes k0w the Aussies grounds well"\n\n6.3\nW\nAminul Islam to Rahul, W runs, soft dismissal! Length ball, outside off and turning away. Rahul looks to cut but it hits the bat near the bottom half. Eventually, he checks the shot, and it lobs in the air for a simple catch at short cover\nKL Rahul c Mahmudullah b Aminul Islam 15 (17b 2x4 0x6) SR: 88.23\n\n6.2\n1\nAminul Islam to Dhawan, 1 run, half-tracker, wide outside off, and Dhawan tries to attack. Flat-bats a shot to midwicket\n6.1\n0\nAminul Islam to Dhawan, 0 run, full outside off from around the wicket. Turning in, and driven to cover\nAminul , right-arm legbreak\n\n\n\n5.6\n1\nShafiul Islam to Dhawan, 1 run, full, on his toes, and worked off his boot to deep backward square leg. End of Powerplay: 35 for 1\n5.5\n0\nShafiul Islam to Dhawan, 0 run, back of a length on off, cramping Dhawan for space. Comes down the wicket but mistimes it back to the bowler. Dhawan coming down the wicket to create some pace\nSantosh Battula: "I don\'t mind Dhawan taking some balls to be on song.. The team needs him to be confident and in-form for the T20 World cup."\n\n5.4\n1\nShafiul Islam to Rahul, 1 run, full, on off, and he goes leg-side once again. Lifts a shot off his toes, but it lands short of the fielder at deep midwicket\n5.3\n4\nShafiul Islam to Rahul, 4 runs, length ball, on off, and angling in. Bends his knees and then uses his wrists to successfully flick a shot off his hips over square leg for a boundary. Sight for sore eyes\nSanjay Krishna : "Wondering if physiologically speaking, the players are doing themselves more harm than good by playing in these conditions. But then again, Indian cricket has always believed that the show must go on."\n\n5.2\n0\nShafiul Islam to Rahul, 0 run, length ball, outside off, and punched square to cover point\n5.1\n0\nShafiul Islam to Rahul, 0 run, full, on off, and flicked to midwicket. Minimal footwork from Rahul\n\n\n4.6\n4\nMustafizur Rahman to Dhawan, 4 runs, full, outside off, and the attempted square drive flies off his outside edge to the backward point boundary for four. Much needed for India\n4.5\n1\nMustafizur Rahman to Rahul, 1 run, fullish, outside leg stump. Guided with soft hands to the leg side before they scamper across for one\nSachin: "With Kohli and Co. discussing "All guns Blazing" approach(remember two fours by Hitman in first over), KL seems on a0ther planet. This way we may 0t see him in Australia."\n\n4.4\n1\nMustafizur Rahman to Dhawan, 1 run, back of a length, outside off, and he muscles a cut in front of square. Fielded by cover, but can\'t stop the single\n4.3\n0\nMustafizur Rahman to Dhawan, 0 run, inside-edged! Full, outside off, and he prepares to drive, but it takes an edge onto his pads\n4.2\n0\nMustafizur Rahman to Dhawan, 0 run, extra bounce this time! Back of a length outside off, and Dhawan wants to flay this over point, but can\'t make any connection\n4.1\n1\nMustafizur Rahman to Rahul, 1 run, back of a length, on leg stump. He rides the bounce before turning it behind square for a jogging single\nHere\'s the Fizz. India still going at under six per over\n3.6\n1\nAl-Amin Hossain to Rahul, 1 run, full, angling in, and worked off his pads to the leg side for a quick single\n3.5\n0\nAl-Amin Hossain to Rahul, 0 run, nearly chopped on! Length ball, outside off, and he shapes up to cut but the ball stays low. Under-edged towards Mushfiqur\n3.4\n0\nAl-Amin Hossain to Rahul, 0 run, back of a length, on off stump. Rahul stays on the back foot before defending it away\n3.3\n1\nAl-Amin Hossain to Dhawan, 1 run, back of a length, on middle stump. A0ther slower ball. Dhawan k0cks it down with soft hands and calls towards Rahul for a quick single\n3.2\n1\nAl-Amin Hossain to Rahul, 1 run, full, on off stump. Looks to defend, but the ball hits his outside edge before rolling away to third man\n3.1\n1\nAl-Amin Hossain to Dhawan, 1 run, back of a length, on leg stump, with the pace taken off. Dhawan defends it into his body, before the ball rolls away. They scamper across for one with the bowler looking to attempt a run-out\n\n2.6\n0\nShafiul Islam to Rahul, 0 run, through him! Fullish, outside off, and he presses forward to drive. But the ball goes between the bat-body gap, and into the keeper\'s gloves\n2.5\n0\nShafiul Islam to Rahul, 0 run, back of a length on middle. Walks across the stumps and fended back\nShashank Mishra: "This looks a good Kotla wicket, something we have 0t seen for a while. The ball is coming on to the bat nicely, true bounce off the pitch and some movement too. Second innings has always been a concern at Kotla with the pitch breaking down but given this is a T20 match and with dew setting in, this could be a cracker of a match."\n\n2.4\n0\nShafiul Islam to Rahul, 0 run, length ball outside off, and he checks an attempted drive. Ball rolls away to cover\n2.3\n4\nShafiul Islam to Rahul, 4 runs, length ball, outside off, and he walks towards the ball before crunching a square cut to the point boundary\n2.2\n1\nShafiul Islam to Dhawan, 1 run, back of a length, on leg stump, and flicked off his hips to deep backward square leg\nAjay Dhanak: "Shivam Dube looked compact and explosive at the same time from the nets video of BCCI. Just hope there\'s 0 short ball problems. I would definitely try 

In [ ]:
## clean = re.findall(r'[\w]+\s*to\s*[\w]+,\s*[\d]*\s*run', f.read())

clean = re.findall(r'[\w]+\s*to\s*[\w]+,\s*[\d|[W]]*\s*run', f4)

##clean = re.findall(r'[\w]+\s*to\s*[\w]+,\s*[\d]*\s*', f3)

Modify the above RegEx to include the key words 'no', 'FOUR','SIX', 'OUT'

In [ ]:
clean

['Hossain to Pandya, 6 run',
 'Hossain to Pandya, 1 run',
 'Islam to Pandya, 1 run',
 'Islam to Pandya, 4 run',
 'Islam to Pant, W run',
 'Islam to Pant, 2 run',
 'Hossain to Pandya, 1 run',
 'Hossain to Pant, 1 run',
 'Hossain to Pant, 0 run',
 'Hossain to Pant, 4 run',
 'Hossain to Pandya, 1 run',
 'Rahman to Pandya, 1 run',
 'Rahman to Pant, 1 run',
 'Rahman to Pant, 0 run',
 'Rahman to Pant, 0 run',
 'Rahman to Pant, 4 run',
 'Rahman to Pant, 2 run',
 'Hossain to Dube, W run',
 'Hossain to Pant, 1 run',
 'Hossain to Pant, 4 run',
 'Hossain to Dube, 1 run',
 'Hossain to Dube, 0 run',
 'Hossain to Pant, 1 run',
 'Mahmudullah to Dube, 0 run',
 'Mahmudullah to Pant, 1 run',
 'Mahmudullah to Dhawan, 1 run',
 'Mahmudullah to Dhawan, 0 run',
 'Mahmudullah to Dhawan, 6 run',
 'Mahmudullah to Pant, 1 run',
 'Hossain to Dhawan, 0 run',
 'Hossain to Pant, 1 run',
 'Hossain to Pant, 0 run',
 'Hossain to Pant, 0 run',
 'Hossain to Pant, 0 run',
 'Hossain to Dhawan, 1 run',
 'Hossain to Dhawan, 1 run',
 'Hossain to Pant, 1 run',
 'Hossain to Dhawan, 1 run',
 'Hossain to Dhawan, 4 run',
 'Hossain to Pant, 1 run',
 'Hossain to Pant, 0 run',
 'Hossain to Dhawan, 0 run',
 'Hossain to Dhawan, 0 run',
 'Hossain to Pant, 1 run',
 'Hossain to Dhawan, 1 run',
 'Hossain to Dhawan, 0 run',
 'Hossain to Dhawan, 0 run',
 'Islam to Pant, 0 run',
 'Islam to Dhawan, 1 run',
 'Islam to Pant, 1 run',
 'Islam to Dhawan, 1 run',
 'Islam to Iyer, W run',
 'Islam to Dhawan, 1 run',
 'Sarkar to Iyer, 2 run',
 'Sarkar to Iyer, 4 run',
 'Sarkar to Dhawan, 1 run',
 'Sarkar to Iyer, 1 run',
 'Sarkar to Iyer, 0 run',
 'Sarkar to Dhawan, 1 run',
 'Islam to Iyer, 6 run',
 'Islam to Iyer, 0 run',
 'Islam to Dhawan, 1 run',
 'Islam to Dhawan, 0 run',
 'Islam to Iyer, 1 run',
 'Islam to Dhawan, 1 run',
 'Sarkar to Iyer, 0 run',
 'Sarkar to Dhawan, 1 run',
 'Sarkar to Dhawan, 4 run',
 'Sarkar to Iyer, 1 run',
 'Sarkar to Iyer, 0 run',
 'Sarkar to Dhawan, 1 run',
 'Islam to Iyer, 6 run',
 'Islam to Dhawan, 1 run',
 'Islam to Iyer, 1 run',
 'Islam to Rahul, W run',
 'Islam to Dhawan, 1 run',
 'Islam to Dhawan, 0 run',
 'Islam to Dhawan, 1 run',
 'Islam to Dhawan, 0 run',
 'Islam to Rahul, 1 run',
 'Islam to Rahul, 4 run',
 'Islam to Rahul, 0 run',
 'Islam to Rahul, 0 run',
 'Rahman to Dhawan, 4 run',
 'Rahman to Rahul, 1 run',
 'Rahman to Dhawan, 1 run',
 'Rahman to Dhawan, 0 run',
 'Rahman to Dhawan, 0 run',
 'Rahman to Rahul, 1 run',
 'Hossain to Rahul, 1 run',
 'Hossain to Rahul, 0 run',
 'Hossain to Rahul, 0 run',
 'Hossain to Dhawan, 1 run',
 'Hossain to Rahul, 1 run',
 'Hossain to Dhawan, 1 run',
 'Islam to Rahul, 0 run',
 'Islam to Rahul, 0 run',
 'Islam to Rahul, 0 run',
 'Islam to Rahul, 4 run',
 'Islam to Dhawan, 1 run',
 'Islam to Rahul, 1 run',
 'Hossain to Dhawan, 0 run',
 'Hossain to Rahul, 1 run',
 'Hossain to Dhawan, 1 run',
 'Hossain to Dhawan, 0 run',
 'Hossain to Dhawan, 0 run',
 'Hossain to Dhawan, 0 run',
 'Islam to Sharma, W run',
 'Islam to Sharma, 4 run',
 'Islam to Sharma, 0 run',
 'Islam to Dhawan, 1 run',
 'Islam to Sharma, 1 run',
 'Islam to Sharma, 4 run']

In [ ]:
clean1 = ','.join(str(e) for e in clean)

In [ ]:
clean1

'Hossain to Pandya, 6 run,Hossain to Pandya, 1 run,Islam to Pandya, 1 run,Islam to Pandya, 4 run,Islam to Pant, W run,Islam to Pant, 2 run,Hossain to Pandya, 1 run,Hossain to Pant, 1 run,Hossain to Pant, 0 run,Hossain to Pant, 4 run,Hossain to Pandya, 1 run,Rahman to Pandya, 1 run,Rahman to Pant, 1 run,Rahman to Pant, 0 run,Rahman to Pant, 0 run,Rahman to Pant, 4 run,Rahman to Pant, 2 run,Hossain to Dube, W run,Hossain to Pant, 1 run,Hossain to Pant, 4 run,Hossain to Dube, 1 run,Hossain to Dube, 0 run,Hossain to Pant, 1 run,Mahmudullah to Dube, 0 run,Mahmudullah to Pant, 1 run,Mahmudullah to Dhawan, 1 run,Mahmudullah to Dhawan, 0 run,Mahmudullah to Dhawan, 6 run,Mahmudullah to Pant, 1 run,Hossain to Dhawan, 0 run,Hossain to Pant, 1 run,Hossain to Pant, 0 run,Hossain to Pant, 0 run,Hossain to Pant, 0 run,Hossain to Dhawan, 1 run,Hossain to Dhawan, 1 run,Hossain to Pant, 1 run,Hossain to Dhawan, 1 run,Hossain to Dhawan, 4 run,Hossain to Pant, 1 run,Hossain to Pant, 0 run,Hossain to Dhawan, 0 run,Hossain to Dhawan, 0 run,Hossain to Pant, 1 run,Hossain to Dhawan, 1 run,Hossain to Dhawan, 0 run,Hossain to Dhawan, 0 run,Islam to Pant, 0 run,Islam to Dhawan, 1 run,Islam to Pant, 1 run,Islam to Dhawan, 1 run,Islam to Iyer, W run,Islam to Dhawan, 1 run,Sarkar to Iyer, 2 run,Sarkar to Iyer, 4 run,Sarkar to Dhawan, 1 run,Sarkar to Iyer, 1 run,Sarkar to Iyer, 0 run,Sarkar to Dhawan, 1 run,Islam to Iyer, 6 run,Islam to Iyer, 0 run,Islam to Dhawan, 1 run,Islam to Dhawan, 0 run,Islam to Iyer, 1 run,Islam to Dhawan, 1 run,Sarkar to Iyer, 0 run,Sarkar to Dhawan, 1 run,Sarkar to Dhawan, 4 run,Sarkar to Iyer, 1 run,Sarkar to Iyer, 0 run,Sarkar to Dhawan, 1 run,Islam to Iyer, 6 run,Islam to Dhawan, 1 run,Islam to Iyer, 1 run,Islam to Rahul, W run,Islam to Dhawan, 1 run,Islam to Dhawan, 0 run,Islam to Dhawan, 1 run,Islam to Dhawan, 0 run,Islam to Rahul, 1 run,Islam to Rahul, 4 run,Islam to Rahul, 0 run,Islam to Rahul, 0 run,Rahman to Dhawan, 4 run,Rahman to Rahul, 1 run,Rahman to Dhawan, 1 run,Rahman to Dhawan, 0 run,Rahman to Dhawan, 0 run,Rahman to Rahul, 1 run,Hossain to Rahul, 1 run,Hossain to Rahul, 0 run,Hossain to Rahul, 0 run,Hossain to Dhawan, 1 run,Hossain to Rahul, 1 run,Hossain to Dhawan, 1 run,Islam to Rahul, 0 run,Islam to Rahul, 0 run,Islam to Rahul, 0 run,Islam to Rahul, 4 run,Islam to Dhawan, 1 run,Islam to Rahul, 1 run,Hossain to Dhawan, 0 run,Hossain to Rahul, 1 run,Hossain to Dhawan, 1 run,Hossain to Dhawan, 0 run,Hossain to Dhawan, 0 run,Hossain to Dhawan, 0 run,Islam to Sharma, W run,Islam to Sharma, 4 run,Islam to Sharma, 0 run,Islam to Dhawan, 1 run,Islam to Sharma, 1 run,Islam to Sharma, 4 run'

In [ ]:
clean1 = clean1.replace('to', ',')
clean1

'Hossain , Pandya, 6 run,Hossain , Pandya, 1 run,Islam , Pandya, 1 run,Islam , Pandya, 4 run,Islam , Pant, W run,Islam , Pant, 2 run,Hossain , Pandya, 1 run,Hossain , Pant, 1 run,Hossain , Pant, 0 run,Hossain , Pant, 4 run,Hossain , Pandya, 1 run,Rahman , Pandya, 1 run,Rahman , Pant, 1 run,Rahman , Pant, 0 run,Rahman , Pant, 0 run,Rahman , Pant, 4 run,Rahman , Pant, 2 run,Hossain , Dube, W run,Hossain , Pant, 1 run,Hossain , Pant, 4 run,Hossain , Dube, 1 run,Hossain , Dube, 0 run,Hossain , Pant, 1 run,Mahmudullah , Dube, 0 run,Mahmudullah , Pant, 1 run,Mahmudullah , Dhawan, 1 run,Mahmudullah , Dhawan, 0 run,Mahmudullah , Dhawan, 6 run,Mahmudullah , Pant, 1 run,Hossain , Dhawan, 0 run,Hossain , Pant, 1 run,Hossain , Pant, 0 run,Hossain , Pant, 0 run,Hossain , Pant, 0 run,Hossain , Dhawan, 1 run,Hossain , Dhawan, 1 run,Hossain , Pant, 1 run,Hossain , Dhawan, 1 run,Hossain , Dhawan, 4 run,Hossain , Pant, 1 run,Hossain , Pant, 0 run,Hossain , Dhawan, 0 run,Hossain , Dhawan, 0 run,Hossain , Pant, 1 run,Hossain , Dhawan, 1 run,Hossain , Dhawan, 0 run,Hossain , Dhawan, 0 run,Islam , Pant, 0 run,Islam , Dhawan, 1 run,Islam , Pant, 1 run,Islam , Dhawan, 1 run,Islam , Iyer, W run,Islam , Dhawan, 1 run,Sarkar , Iyer, 2 run,Sarkar , Iyer, 4 run,Sarkar , Dhawan, 1 run,Sarkar , Iyer, 1 run,Sarkar , Iyer, 0 run,Sarkar , Dhawan, 1 run,Islam , Iyer, 6 run,Islam , Iyer, 0 run,Islam , Dhawan, 1 run,Islam , Dhawan, 0 run,Islam , Iyer, 1 run,Islam , Dhawan, 1 run,Sarkar , Iyer, 0 run,Sarkar , Dhawan, 1 run,Sarkar , Dhawan, 4 run,Sarkar , Iyer, 1 run,Sarkar , Iyer, 0 run,Sarkar , Dhawan, 1 run,Islam , Iyer, 6 run,Islam , Dhawan, 1 run,Islam , Iyer, 1 run,Islam , Rahul, W run,Islam , Dhawan, 1 run,Islam , Dhawan, 0 run,Islam , Dhawan, 1 run,Islam , Dhawan, 0 run,Islam , Rahul, 1 run,Islam , Rahul, 4 run,Islam , Rahul, 0 run,Islam , Rahul, 0 run,Rahman , Dhawan, 4 run,Rahman , Rahul, 1 run,Rahman , Dhawan, 1 run,Rahman , Dhawan, 0 run,Rahman , Dhawan, 0 run,Rahman , Rahul, 1 run,Hossain , Rahul, 1 run,Hossain , Rahul, 0 run,Hossain , Rahul, 0 run,Hossain , Dhawan, 1 run,Hossain , Rahul, 1 run,Hossain , Dhawan, 1 run,Islam , Rahul, 0 run,Islam , Rahul, 0 run,Islam , Rahul, 0 run,Islam , Rahul, 4 run,Islam , Dhawan, 1 run,Islam , Rahul, 1 run,Hossain , Dhawan, 0 run,Hossain , Rahul, 1 run,Hossain , Dhawan, 1 run,Hossain , Dhawan, 0 run,Hossain , Dhawan, 0 run,Hossain , Dhawan, 0 run,Islam , Sharma, W run,Islam , Sharma, 4 run,Islam , Sharma, 0 run,Islam , Dhawan, 1 run,Islam , Sharma, 1 run,Islam , Sharma, 4 run'

In [ ]:
# clean1.replace('run', ', \r\n')

In [ ]:
clean2 = re.sub(r"run,", "\n", clean1)
clean2

'Hossain , Pandya, 6 \nHossain , Pandya, 1 \nIslam , Pandya, 1 \nIslam , Pandya, 4 \nIslam , Pant, W \nIslam , Pant, 2 \nHossain , Pandya, 1 \nHossain , Pant, 1 \nHossain , Pant, 0 \nHossain , Pant, 4 \nHossain , Pandya, 1 \nRahman , Pandya, 1 \nRahman , Pant, 1 \nRahman , Pant, 0 \nRahman , Pant, 0 \nRahman , Pant, 4 \nRahman , Pant, 2 \nHossain , Dube, W \nHossain , Pant, 1 \nHossain , Pant, 4 \nHossain , Dube, 1 \nHossain , Dube, 0 \nHossain , Pant, 1 \nMahmudullah , Dube, 0 \nMahmudullah , Pant, 1 \nMahmudullah , Dhawan, 1 \nMahmudullah , Dhawan, 0 \nMahmudullah , Dhawan, 6 \nMahmudullah , Pant, 1 \nHossain , Dhawan, 0 \nHossain , Pant, 1 \nHossain , Pant, 0 \nHossain , Pant, 0 \nHossain , Pant, 0 \nHossain , Dhawan, 1 \nHossain , Dhawan, 1 \nHossain , Pant, 1 \nHossain , Dhawan, 1 \nHossain , Dhawan, 4 \nHossain , Pant, 1 \nHossain , Pant, 0 \nHossain , Dhawan, 0 \nHossain , Dhawan, 0 \nHossain , Pant, 1 \nHossain , Dhawan, 1 \nHossain , Dhawan, 0 \nHossain , Dhawan, 0 \nIslam , Pant, 0 \nIslam , Dhawan, 1 \nIslam , Pant, 1 \nIslam , Dhawan, 1 \nIslam , Iyer, W \nIslam , Dhawan, 1 \nSarkar , Iyer, 2 \nSarkar , Iyer, 4 \nSarkar , Dhawan, 1 \nSarkar , Iyer, 1 \nSarkar , Iyer, 0 \nSarkar , Dhawan, 1 \nIslam , Iyer, 6 \nIslam , Iyer, 0 \nIslam , Dhawan, 1 \nIslam , Dhawan, 0 \nIslam , Iyer, 1 \nIslam , Dhawan, 1 \nSarkar , Iyer, 0 \nSarkar , Dhawan, 1 \nSarkar , Dhawan, 4 \nSarkar , Iyer, 1 \nSarkar , Iyer, 0 \nSarkar , Dhawan, 1 \nIslam , Iyer, 6 \nIslam , Dhawan, 1 \nIslam , Iyer, 1 \nIslam , Rahul, W \nIslam , Dhawan, 1 \nIslam , Dhawan, 0 \nIslam , Dhawan, 1 \nIslam , Dhawan, 0 \nIslam , Rahul, 1 \nIslam , Rahul, 4 \nIslam , Rahul, 0 \nIslam , Rahul, 0 \nRahman , Dhawan, 4 \nRahman , Rahul, 1 \nRahman , Dhawan, 1 \nRahman , Dhawan, 0 \nRahman , Dhawan, 0 \nRahman , Rahul, 1 \nHossain , Rahul, 1 \nHossain , Rahul, 0 \nHossain , Rahul, 0 \nHossain , Dhawan, 1 \nHossain , Rahul, 1 \nHossain , Dhawan, 1 \nIslam , Rahul, 0 \nIslam , Rahul, 0 \nIslam , Rahul, 0 \nIslam , Rahul, 4 \nIslam , Dhawan, 1 \nIslam , Rahul, 1 \nHossain , Dhawan, 0 \nHossain , Rahul, 1 \nHossain , Dhawan, 1 \nHossain , Dhawan, 0 \nHossain , Dhawan, 0 \nHossain , Dhawan, 0 \nIslam , Sharma, W \nIslam , Sharma, 4 \nIslam , Sharma, 0 \nIslam , Dhawan, 1 \nIslam , Sharma, 1 \nIslam , Sharma, 4 run'

In [ ]:
clean2 = re.sub(r"run","", clean2)

In [ ]:
fclean2 = open("fclean2.txt", 'w')

In [ ]:
fclean2.write(clean2)
fclean2.close()

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('fclean2.txt',  names = ['Bowler', 'Batsmen', 'Runs'])

In [ ]:
df.head()

     Bowler  Batsmen Runs
0  Hossain    Pandya   6
1  Hossain    Pandya   1
2    Islam    Pandya   1
3    Islam    Pandya   4
4    Islam      Pant   W

In [ ]:
dfBat = df.drop(['Bowler'],axis=1)

In [ ]:
dfBat.head(10)

   Batsmen Runs
0   Pandya   6
1   Pandya   1
2   Pandya   1
3   Pandya   4
4     Pant   W
5     Pant   2
6   Pandya   1
7     Pant   1
8     Pant   0
9     Pant   4

In [ ]:
dfBowl = df.drop(['Batsmen'], axis = 1)

In [ ]:
dfBowl.head()

     Bowler Runs
0  Hossain    6
1  Hossain    1
2    Islam    1
3    Islam    4
4    Islam    W

In [ ]:
# Removing whitespaces from the Bowler column obects of the dfBowl dataframe:
dfBowl['Bowler'] = dfBowl['Bowler'].str.strip(' ')
dfBowl.head(10)

    Bowler Runs
0  Hossain   6
1  Hossain   1
2    Islam   1
3    Islam   4
4    Islam   W
5    Islam   2
6  Hossain   1
7  Hossain   1
8  Hossain   0
9  Hossain   4

In [ ]:
# Removing whitespaces from the Runs column obects of the dfBowl dataframe:
dfBowl['Runs'] = dfBowl['Runs'].str.strip(' ')
dfBowl.head(10)

    Bowler Runs
0  Hossain    6
1  Hossain    1
2    Islam    1
3    Islam    4
4    Islam    W
5    Islam    2
6  Hossain    1
7  Hossain    1
8  Hossain    0
9  Hossain    4

In [ ]:
#Converting the DF to a list:
BowlerList = dfBowl['Bowler'].tolist()

#Getting only unique values
BowlerList = set(BowlerList)
BowlerList

{'Hossain', 'Islam', 'Mahmudullah', 'Rahman', 'Sarkar'}

In [ ]:
#Removing WhiteSpaces from the list objects:
BowlerList = [x.strip(' ') for x in BowlerList]
BowlerList

## Not needed now, as done above with the dataframe itself!

['Sarkar', 'Hossain', 'Rahman', 'Mahmudullah', 'Islam']

In [ ]:
#Creating Dictionary from BowlerList and initializing with 0
BowlDict = {i : 0 for i in BowlerList}
BowlDict

{'Sarkar': 0, 'Hossain': 0, 'Rahman': 0, 'Mahmudullah': 0, 'Islam': 0}

In [ ]:
# BowlDict['Ashwin']

In [ ]:
BowlDict[dfBowl.loc[3,'Bowler']]

0

In [ ]:
dfBowl.loc[2,"Runs"]

'1'

In [ ]:
WicketDict = {}

## my_dict[key] = my_dict.get(key, 0) + num
for j in range(len(dfBowl)):
    if (dfBowl.loc[j,"Runs"] == 'W'):
        BowlDict[dfBowl.loc[j,"Bowler"]] = BowlDict.get(dfBowl.loc[j,"Bowler"],0)+1
        
        

#BowlerWkts =

In [ ]:
BowlDict

{'Sarkar': 0, 'Hossain': 1, 'Rahman': 0, 'Mahmudullah': 0, 'Islam': 4}

In [ ]:
WicketDict = BowlDict
WicketDict

{'Sarkar': 0, 'Hossain': 1, 'Rahman': 0, 'Mahmudullah': 0, 'Islam': 4}

In [ ]:
# Removing nonnumeric (that is, 'W') rows
# df[pd.to_numeric(df['id'], errors='coerce').notnull()]

dfBat = dfBat[pd.to_numeric(df['Runs'], errors = 'coerce').notnull()]
dfBowl = dfBowl[pd.to_numeric(df['Runs'], errors = 'coerce').notnull()]

In [ ]:
dfBat.head()

   Batsmen Runs
0   Pandya   6
1   Pandya   1
2   Pandya   1
3   Pandya   4
5     Pant   2

In [ ]:
dfBat.dtypes

Batsmen    object
Runs       object
dtype: object

In [ ]:
dfBowl.head()

    Bowler Runs
0  Hossain    6
1  Hossain    1
2    Islam    1
3    Islam    4
5    Islam    2

In [ ]:
dfBowl.dtypes

Bowler    object
Runs      object
dtype: object

In [ ]:
## Numeric conversion from object:
## df["2nd"] = pd.to_numeric(df["2nd"])

dfBat['Runs'] = pd.to_numeric(dfBat['Runs'])
dfBat.dtypes

Batsmen    object
Runs        int64
dtype: object

In [ ]:
dfBowl['Runs'] = pd.to_numeric(dfBowl['Runs'])
dfBowl.dtypes

Bowler    object
Runs       int64
dtype: object

In [ ]:
BatTotal = dfBat.groupby(['Batsmen']).sum()
BatTotal

         Runs
Batsmen
 Dhawan    41
 Dube       1
 Iyer      22
 Pandya    15
 Pant      27
 Rahul     15
 Sharma     9

In [ ]:
BowlTotal = dfBowl.groupby(['Bowler']).sum()
BowlTotal

             Runs
Bowler
Hossain        39
Islam          51
Mahmudullah     9
Rahman         15
Sarkar         16

The above DF is a groupby DF which can't be converted to a dictionary, it throws error. So reset the indices by using reset_index()

In [ ]:
BatTotali = BatTotal.reset_index()
BatTotali

   Batsmen  Runs
0   Dhawan    41
1     Dube     1
2     Iyer    22
3   Pandya    15
4     Pant    27
5    Rahul    15
6   Sharma     9

In [ ]:
BowlTotali = BowlTotal.reset_index()
BowlTotali

        Bowler  Runs
0      Hossain    39
1        Islam    51
2  Mahmudullah     9
3       Rahman    15
4       Sarkar    16

In [ ]:
BatDict = dict(zip(BatTotali.Batsmen,BatTotali.Runs))
BatDict

{' Dhawan': 41,
 ' Dube': 1,
 ' Iyer': 22,
 ' Pandya': 15,
 ' Pant': 27,
 ' Rahul': 15,
 ' Sharma': 9}

In [ ]:
BowlDict = dict(zip(BowlTotali.Bowler,BowlTotali.Runs))
BowlDict

{'Hossain': 39, 'Islam': 51, 'Mahmudullah': 9, 'Rahman': 15, 'Sarkar': 16}

## Stats: ##


# Python3 code to iterate through all key, value  
# pairs in a dictionary 
  
statesAndCapitals = { 
                     'Gujarat' : 'Gandhinagar', 
                     'Maharashtra' : 'Mumbai', 
                     'Rajasthan' : 'Jaipur', 
                     'Bihar' : 'Patna'
                    } 
                      
print('List Of given states and their capitals:\n') 
  
# Iterating over values 
for state, capital in statesAndCapitals.items(): 
    print(state, ":", capital)

In [ ]:
print('Runs scored by batsmen:')
for batsman, runs in BatDict.items():
    print(batsman, ':', runs)

Runs scored by batsmen:
 Dhawan : 41
 Dube : 1
 Iyer : 22
 Pandya : 15
 Pant : 27
 Rahul : 15
 Sharma : 9

In [ ]:
print('Runs conceded by bowlers:')
for bowler, runs in BowlDict.items():
    print(bowler, ':', runs)

Runs conceded by bowlers:
Hossain : 39
Islam : 51
Mahmudullah : 9
Rahman : 15
Sarkar : 16

In [ ]:
print('Wickets taken by bowlers:')
for bowler, wickets in WicketDict.items():
    print(bowler, ':', wickets)

Wickets taken by bowlers:
Sarkar : 0
Hossain : 1
Rahman : 0
Mahmudullah : 0
Islam : 4